<MudPaper Width="100%" Class="py-3" Elevation="15">
    <MudDrawerHeader>
        <div class="d-flex align-center justify-center">
            <MudText Typo="Typo.h5" Align="Align.Center"><b>Opções</b></MudText>
        </div>
    </MudDrawerHeader>
    <MudNavMenu>
        <MudNavLink DisableRipple="false" Href="/ " IconColor="Color.Success" Icon="@Icons.Material.Filled.Home"                 
                    Class="mud-light-text">Home
        </MudNavLink>

        <MudNavLink Href="/CriarProva" Icon="@Icons.Material.Filled.LibraryBooks"
                    IconColor="Color.Success"
                    Class="mud-light-text">Criar Prova
        </MudNavLink>

        <MudNavLink Href="/RealizarProva" Icon="@Icons.Material.Filled.LaptopMac" 
                    IconColor="Color.Success"
                    Class="mud-light-text">RealizarProva
        </MudNavLink>

        <MudNavLink Href="/ResultadoProva" Icon="@Icons.Material.Filled.PendingActions"
                    IconColor="Color.Success"
                    Class="mud-light-text">Resultado Prova
        </MudNavLink>

    </MudNavMenu>
</MudPaper>


