<MudPaper Width="100%" Class="py-3" Elevation="15">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6">Settings</MudText>
    </MudDrawerHeader>
    <MudNavMenu Color="Color.Primary">

        <div class="d-flex align-center justify-center">
            <MudNavLink Style="font-size: 20px;" Href="/ ">
                        <MudIcon Icon="@Icons.Material.Filled.Home"
                         Color="Color.Success"
                         Title="Home" Style="align-items: start"
                         Size="Size.Medium" /> Home
            </MudNavLink>
        </div>
        <div class="d-flex align-center justify-center">
            <MudNavLink Style="font-size: 20px;"
                        Href="/CriarProva">
                        <MudIcon Icon="@Icons.Material.Filled.LibraryBooks"  
                         Color="Color.Success" 
                         Title="CriarProva" Style="align-items: start"
                         Size="Size.Medium"/> Criar Prova
            </MudNavLink>
        </div>

        <div class="d-flex align-start justify-center">
            <MudNavLink Style="font-size: 20px;" Href="/RealizarProva">
                        <MudIcon Icon="@Icons.Material.Filled.LaptopMac"
                         Color="Color.Success"
                         Title="RealIzar Prova" Style="align-items: center; align-content: center;"
                         Size="Size.Medium" /> Realizar Prova
            </MudNavLink>
        </div>

            <MudNavLink Style="font-size: 20px; justify-content: center" 
                        Href="/ResultadoProva">
                     <MudIcon Icon="@Icons.Material.Filled.PendingActions"
                             Color="Color.Success"
                             Title="Resultado Prova"
                             Size="Size.Medium" /> Resultado Prova
            </MudNavLink>

    </MudNavMenu>
</MudPaper>


