@page "/CriarPerguntas"
@inject ProvaService Prova
@inject NavigationManager NavigationManager


@if (string.IsNullOrEmpty(Prova.ProvaInstancia.NomeProfessor))
{
    <MudContainer>
        <MudText Typo="Typo.h3"
                 Style="margin-top: 18px;"
                 Align="Align.Center"
                 Color="Color.Warning">
            <b>Não há uma Prova criada!</b>
        </MudText>
        <div class="d-flex align-center justify-center">
            <MudButton ButtonType="ButtonType.Button"
                       Variant="Variant.Filled"
                       Color="Color.Error"
                       Href="/CriarProva"
                       Style="margin-top: 15px; font-size: 35px; border-radius: 19px;">              
                Clique Aqui para Criar uma Prova!
            </MudButton>
        </div>
    </MudContainer>
}
else if (Prova.ProvaInstancia.ProvaCriada == true)
{
    NavigationManager.NavigateTo("/RealizarProva");
}
else
{
    <MudText Class="mt-5 d-flex align-center justify-center"
             Typo="Typo.h3">
            Criar as perguntas da Prova @Prova.ProvaInstancia.TipoProva.ToString().Replace("_", " ") 
    </MudText>
    @for (int x = 1; x <= Prova.ProvaInstancia.QuantidadePerguntas; x++)
    {
        <CriarPerguntasProva NumeroQuestao="@x"> </CriarPerguntasProva>

    }
}