@page "/"

@inject ProvaService Prova
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject NavigationManager NavigationManager

<PageTitle>Simulador Prova</PageTitle>
@if (!string.IsNullOrEmpty(Prova.ProvaInstancia.NomeProfessor))
{
    NavigationManager.NavigateTo("/CriarPerguntas");
}
else
{
    <MudPaper Height="100vh" Width="100%">
        <MudContainer MaxWidth="MaxWidth.Large">
            <div class="d-flex justify-center align-center;">
                <MudText Typo="Typo.h2" Class="anton-sc-regular" Style="font-family: FontTitulo">
                    Bem-Vindo ao simulador de Prova online
                </MudText>
            </div>
            <div class="d-flex justify-center align-center;">
                <MudText Typo="Typo.h4" Style="font-family: FontConteudo; margin-top: 20px;">
                    Um simulador simples e prática na Criação e Realização de Provas.
                </MudText>
            </div>
            <div class="d-flex justify-center align-center;">
                <MudButton Href="/CriarProva" Color="Color.Error"
                           Variant="Variant.Filled"
                           Size="Size.Large"
                           Style="font-size: 30px; margin-top: 25px; border-radius: 18px;">
                    Clique aqui para Criar a sua Prova!!!
                </MudButton>
            </div>
            <div class="d-flex justify-center align-center;">
                <MudButton OnClick="Dialog"
                           Color="Color.Success"
                           Variant="Variant.Filled"
                           Style="margin-top: 40px;">
                    Teste Dialog
                </MudButton>
            </div>

            <MudText Color="Color.Success" Class="QuebraLinha" Align="Align.Start"
                        Style="margin-top: 40px;"> (Teste)) TestTeste DialogTeste DialogTeste DialogTeste DialogTeste DialogTeste DialogTeste DialogTeste DialogTeste DialogTeste DialogTeste DialogTeste DialogTeste DialogTeste DialogTeste DialogTeste DialogTeste DialogTeste DialogTeste DialogTeste DialogTeste Dialoge Dialog
            </MudText>

        </MudContainer>
    </MudPaper>
}


@code {
    MudTheme MyCustomTheme = new MudTheme()
        {
            Typography = new Typography()
            {
                H2 = new H2()
                {
                    FontFamily = new[ ] { "Lobster", "Helvetica", "Arial", "sans-serif" }
                }
            }
        };


    private void Dialog()
    {
        var options = new DialogOptions
            {
                CloseOnEscapeKey = true,

            };

        var parameters = new DialogParameters<DialogConfirmarProva>
        {
            { x => x.Titulo,  "Verificação do Envio da Prova !!!"},

            { x => x.Conteudo, "Você tem certeza? Essa ação não pode ser defeita!" },

            { x => x.ButtonText, "Teste"},

            { x => x.Color, Color.Success }

        };

        DialogService.Show<DialogConfirmarProva>("ConfirmarProva", parameters, options);

    }
}




