@page "/ResultadoProva"


@inject ProvaService ProvaResultado


@if (ProvaResultado.ProvaInstancia.ProvaCriada == false)
{
    <MudContainer>
        <MudText Typo="Typo.h3"
                 Align="Align.Center"
                 Style="margin-top: 18px;"
                 Color="Color.Warning">
            <b>Não há uma Prova criada!</b>
        </MudText>
        <div class="CentralizarConteudo">
            <MudButton ButtonType="ButtonType.Button"
                       Variant="Variant.Filled"
                       Color="Color.Error"
                       Href="/ "
                       Style="margin-top: 15px; font-size: 35px; border-radius: 19px;">
                Clique Aqui para Criar um Prova!
            </MudButton>
        </div>
    </MudContainer>
}
else
{
    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
        <MudContainer MaxWidth="MaxWidth.Large" Style="height: 100vh; margin-top: 30px;">
            <MudText Align="Align.Center" Typo="Typo.h1">
                <b>Resultado Prova</b>

            </MudText>

            <MudText Align="Align.Center" Typo="Typo.h1" Color="Color.Success">
                <b>Total de  Acertos @ProvaResultado.ProvaInstancia.QuantidadeAcertos / @ProvaResultado.ProvaInstancia.QuantidadePerguntas</b>
            </MudText>
        </MudContainer>
    </div>
    
}


